@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
#ani {
  animation: slide-in 2000ms;
}
#ani4 {
  animation: slide-in 4000ms;
  -webkit-animation: slide-in 4000ms;
}

#ani1 {
  animation: slide-in 2000ms;
}
#ani3 {
  animation: slide-in 2000ms;
}
#ani5 {
  animation: slide-in 2000ms;
}
#ani3::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#ani3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
}
#ani {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.text-white {
  color: black;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: auto;
    align-items: baseline;
  }
}
.leftHeader {
  /* margin-left: 32rem; */
  align-items: baseline;

  display: flex;
}
.multiSelect{
  color: black;
}
@media (max-width: 768px) {
  .leftHeader {
    margin-left: 120px;
  }

  @media(min-width: 768px){
    .navbar{
      /* width: max-content!important; */
    }
  }

}
/* @media (max-width: 1600px) {
  .leftHeader {
    margin-left: 80rem;
  }
} */
@media (max-width: 330px) {
  .leftHeader {
    margin-left: 120px;
  }
}
#ani::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-item {
  margin-left: 30px;
}
#ani:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a:hover {
  cursor: pointer;
}
.username{
  color: #ffffff;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}
#ani5 {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}
.d-flex.flex-column {
  margin-left: 20px; /* Add some left margin for spacing */
}
@keyframes glowing {
  0% {
    background-color: var(--main-color);
    box-shadow: 0 0 3px var(--main-color);
  }
  50% {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
  }
  100% {
    background-color: var(--main-color);
    box-shadow: 0 0 3px var(--main-color);
  }
}
.navbar {
  background-color: var(--main-color);
}

#ani5 {
  animation: glowing 1300ms infinite;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
}

i {
  height: 25px;
  font-size: 20px;
}
.custom-multiselect {
  background-color: white;
}
.header {
  display: flex;
  align-items: baseline;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
}

.search-icon {
  cursor: pointer;
  margin-right: 10px;
}

.search-dropdown {
  z-index: 1000;
  margin-left: -150px;
  position: absolute;
  top: 100%;
  /* left: 0; */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  width: 310px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.search-options {
  /* display: grid; */
  /* justify-content: end; */
  z-index: 1000;
  width: 290px;
  list-style-type: none;
  padding: 0;
}

.search-options li {
  margin-bottom: 10px;
}
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}