/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

:root {
  --main-color: #B7121A;
  --button-color:#FF6B00;
  --option-color:#FFC09C;
  --footer-color:#000000
}
