
<div className="footfa">
    <footer class="page-footer flex-wrap  font-small teal " style="background-color:var(--footer-color)">
      <div class="container-fluid text-white  text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase font-weight-bold">About Seekers.com</h5>
    <p class="text-break">At Seekers.com, we believe that everyone deserves a fulfilling and rewarding career. We are a dedicated job portal that aims to connect job seekers with their dreams by unlocking opportunities and empowering professional growth. Our platform simplifies the job search process, providing personalized tools and resources to help individuals navigate</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <h5 class="text-uppercase font-weight-bold">Seekers.com</h5>
    <p  class="text-break"> the premier destination for job seekers to embark on their path to success. We are dedicated to connecting talented individuals like you with the perfect job opportunities that align with your skills, aspirations, and passions. Our user-friendly platform provides a seamless and personalized job search experience, empowering you</p>
          </div>
        </div>
      </div>
      <p class="footer-copyright text-center text-white align-items-center py-3">© 2023 Copyright:
      </p>
      <div class=" text-center">
        <a href="/"  > Seekers.com</a>
      </div>
    </footer>
    </div>
    